:root {
    --background: #232946;
    --headline: #fffffe;
    --paragraph: #b8c1ec;
    --button: #eebbc3;
    --button-text: var(--background);
    --stoke: #121629;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--background);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cat {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#cat #img {
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#cat #info {
    height: 100%;
    width: 66%;
}

#upgrades {
    height: 60%;
    width: 100%;
}